body {
	background-image:url(images/fondo2.jpg);
	background-repeat:repeat;
	background-size:100%;
	background-color:#123033;
	margin:0;
	padding:0;
}

#logo-superior {
	text-align: center;
}
#marcas {
	text-align: center;
}

/* Main */
#menu{
	width: 800px;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 10px;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomleft: 25px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}

#menu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 20px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
	color: yellow;
}

*html #menu li a:hover{ /* IE6 */
	color: #fafafa;
}

#menu li:hover > ul{
	display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a{ /* IE6 */   
	height: 10px;
	width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */    
	height: 10px;
	width: 150px;
}

#menu ul a:hover{
        background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

.linea {
	text-align: center;
	color: black;
	position: relative;
}

.Estilo13 {
	color: #000000;
	font-style: italic;
	font-weight: bold;
}

#resultado {
	margin-top:0px;	
	color: black;
	height: auto;
	width: 770px;	
	padding: 15px;	
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: e7ecf2;
	-moz-border-radius: 10px;
	border-radius: 0px;
	-moz-box-shadow: 0 3px 2px black;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;	
}

#contenedor{
	margin-top:0px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;	
}

.pie {
	text-align: center;
	color: black;
	position: relative;
}

.pieFoto{
	text-align: center;	
	position: relative;
}

.hs_container{position:relative;width:640px;height:400px;cursor:pointer;text-align: center;margin-left: auto;margin-right: auto;}
.hs_container .hs_area{position:absolute;overflow:hidden;}
.hs_area img{position:absolute;top:0px;left:0px;display:none;}
.hs_area img.hs_visible{display:block;z-index:9999;}
.hs_area1{border-right:2px solid #fff;}
.hs_area4, .hs_area5{border-top:2px solid #fff;}
.hs_area4{border-right:2px solid #fff;}
.hs_area3{border-top:2px solid #fff;}
.hs_area1{width:320px;height:252px;top:0px;left:0px;}
.hs_area2{width:319px;height:125px;top:0px;left:320px;}
.hs_area3{width:319px;height:125px;top:125px;left:319px;}
.hs_area4{width:138px;height:138px;top:252px;left:0px;}
.hs_area5{width:500px;height:138px;top:252px;left:138px;}
#fotos-pap {float: left;height: auto;width: 750px;margin-top: 20px;margin-bottom: 20px;}
#box-fotos-pap {float: left;height: auto;width: 240px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #666;}
#box-fotos-pap img {margin-bottom: 10px;}
.margen15 {margin-right: 15px;margin-left: 15px;}
#columna-a {background-color: #933;float: left;width: 186px;margin-right: 5px;height: auto;position: static;}
#columna-b {background-color: #F60;float: left;height: auto;width: 758px;position: static;}
#ctn-columnas {float: right;height: auto;width: 960px;}
#vitrina1{width: 640px;height:auto;background-color:#e7ecf2;margin-top:0px;margin-right:auto;margin-left:auto;padding:0px;text-align:center;}

.megatron {
	float: left; top: 30px; left: 20px;
}
	.megatron .front {
		
	}
	.megatron .back {
		width: 284px; height: 372px; padding: 20px;
		background: #a3a3a3; 
	}
		.megatron .back h2 {
			width: 287px; height: 42px; margin: 0 auto 20px auto;
			background: url(megatron-title.png); text-indent: -9999px; 
		}
		.megatron img {
			float: right;
		}
		.megatron p {
			float: left; width: 185px; margin: 0 0 20px 0;
			font-size: 17px; line-height: 28px; color: #4c4c4c; 
		}

.megatron dl {
	font-size: 30px; font-weight: bold; 
	line-height: 40px; color: #717171;
	width: 264px; padding: 5px 10px; overflow: hidden; 
	background: #cfcfcf url(gradient.png) repeat-y;
	-webkit-box-shadow: 0 1px 5px #888;
	text-shadow: 0 1px 1px #f5f5f5;
}
	.megatron dl dt {
		float: left; clear: both;
	}
	.megatron dl dd {
		float: right;
	}
	
	.container {
	width: 324px; height: 412px;
	-webkit-perspective: 1000;
}

.card {
	width: 324px; height: 412px;
	border: 8px solid #fff;	
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
}

.container:hover .card {
	-webkit-transform: rotateY(180deg);				
}

.face {
position: relative;
-webkit-backface-visibility: hidden;
}

a.tooltip {
position:relative;
color:#000;
text-decoration:none;
width:128px;
height:71px;
}
a.tooltip span {
display: none;
}
a.tooltip:hover span {
display:block;
top:100%;
position:absolute;
width:180px;
height:auto;
z-index: 1;
border:2px solid black;
background-color:white;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
color:black;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
padding: 5px;
}
